<section class="background">
    <div class="container col-sm-6 col-sm-offset-3 text-center">
        <img ng-src="css/images/logo-vertical.svg" alt="logo" class="logo-cadastro">
        <h3 class="titulo">Olá</h3>
        <h3 class="sub-titulo">A essa altura você ja sabe alguma coisa sobre nós. Agora precisamos de algumas informações suas. Pode ser?</h3>
            <form>
                <!-- NOME -->
                <div class="form-group">
                    <div class="row" ng-show="true">
                        <label>Qual o seu nome?</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="form-control text-center" id="inputCadastro" type="text"
                                placeholder="Insira o seu nome" ng-model="dados.nome">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control text-center" id="inputCadastro" type="text"
                                placeholder="Insira o seu sobrenome" ng-model="dados.sobrenome" ng-change="idade = true">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- IDADE -->
                <div class="form-group">
                    <div class="row" ng-show="idade">
                        <label>É um prazer te conhecer, {{dados.nome}}! E a sua idade?</label>
                        <div class="col-sm-12">
                            <input class="form-control text-center" id="inputCadastro" type="text" placeholder="Data/Mês/Ano"
                            name="field" ng-model="dados.nascimento" ui-date-mask="DD/MM/YYYY" ng-change="cpf = true; scroll('#inputCpf');">
                        </div>
                    </div>
                </div>


                <!-- CPF -->
                <div class="form-group">
                    <div class="row" ng-show="cpf">
                        <label>Informe também o seu CPF.</label>
                        <p class="legenda">Nos desculpe a formalidade.</p>
                        <div class="col-sm-12">
                            <input class="form-control text-center" id="inputCpf" placeholder="000.000.000-00" type="text"
                            name="field" ng-model="dados.cpf" ui-br-cpf-mask ng-change="email = true; scroll('#inputEmail');">
                        </div>
                    </div>
                </div>


                <!-- E-MAIL -->
                <div class="form-group">
                    <div class="row" ng-show="email">
                        <label>Precisamos do seu email, ele será seu login.</label>
                        <p class="legenda">E não se preocupe, só mandaremos um email se for muito importante!</p>
                        <div class="col-sm-12">
                            <input class="form-control text-center" id="inputEmail" type="email"
                            placeholder="voce@seuemail.com" ng-model="dados.email" ng-change="senha = true">
                        </div>
                    </div>
                </div>


                <!-- SENHA -->
                <div class="form-group">
                    <div class="row" ng-show="senha">
                        <label>Por último, crie um senha.</label>
                        <div class="col-sm-12">
                            <input class="form-control text-center" id="inputCadastro" type="password"
                            placeholder="Senha" ng-model="dados.senha" ng-change="botao = true">
                        </div>
                    </div>
                </div>


                <!-- BOTAO DE CADASTRO -->
                <div class="row" ng-show="botao">
                    <button class="azul margin-cadastro" type="button" ng-click="cadastrar()">Cadastrar</button>
                </div>

            </form>
            <div class="row" ng-show="alerta">
                <div class="alert alert-success" role="alert">Ótimo! O seu cadastro foi realizado com sucesso!</div>
            </div>
        </div>
    </div>
</section>
